<form class="form" (ngSubmit)="onSubmit(addForm.value)"  [formGroup]="addForm" >
    <h2 *ngIf="isActive">Add Employee</h2>
    <h2 *ngIf="!isActive">Edit Employee</h2>
    <i class="fab fa-app-store-ios"></i>
    <div class="form-group" >
        <label style="margin-left: -400px;">Full name</label>
        <input type="text" name="fullname" formControlName="name" >
    </div>
    <div class="form-group">
        <label style="margin-left: -420px;">Designation</label>
        <input type="text" name="designation" formControlName="designation"> 
    </div>
    <div class="form-group">
        <label style="margin-left: -420px;">Email</label>
        <input type="text" name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"> 
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']" style="color: red;">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label style="margin-left: -420px;">Phone</label>
        <input type="text" name="phone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">   
        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
            <div *ngIf="f['phone'].errors['required']" style="color: red;">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label style="margin-left: -420px;">Age</label>
        <input type="text" name="age" formControlName="age" > 
    </div>
        <input id="submit" type="submit" name="submit" value="Add">
</form>          

