<h1>Employees</h1>
<a [routerLink]="['/add-edit']" routerLinkActive="router-link-active"   class="btn btn-sm btn-success mb-2">Add Employee</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Name</th>
            <th style="width: 10%">Designation</th>
            <th style="width: 20%">Email</th>
            <th style="width: 10%">Phone</th>
            <th style="width: 20%">Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees" >
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phone}}</td>
            <td style="position: relative; left: 20px;">{{employee.age}}</td>
            <td style="white-space: nowrap">
                <a routerLink="/add-edit/{{employee._id}}" class="btn btn-sm btn-primary mr-1" >Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user" (click)="onDelete(employee)">
                    <span >Delete</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
